.navbar{
    background-color: rgb(59, 102, 143);
    height: 150px;
    width:100%;
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    
} 

.menu{
    display: flex;
    padding-top: 17px;
    padding-left: auto;
    padding-right: auto;
}

.nav-menu{
    list-style: none;
    padding-left: 20px;
    padding-top: 18px;
   
}

.navbar h1{
   padding-top: 20px;
}

.button-movies{
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 10px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
    border-radius: 10px;
}

.button-movies:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
}

.button-series{
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 10px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
    border-radius: 10px;
}

.button-series:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

.button-home{
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 10px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
    border-radius: 10px;
}

.button-home:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }
/*
.navbar > h1{
    font-size: 35px;
    
}


*/
.container-general{
    /* height: 100vh;
    width: 100%;
    height: max-content;
    top: 0;
    left: 0; */
    text-align: center; 
    background-position: center center; 
    /* background-color: rgb(43, 41, 41); */
 
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 200px;
    height: max-content;
    background-color: black;
   
}

.SearchBar{
  margin-left: 50px;
}

.subContainer{
    display: flex;
    padding-left: 200px;
    padding-top: 52px;
}

.card-container h2{
    font-size: 20px;
    color:black;
   
}

.card-container h3{
    font-size: 18px;
    color:black;
}

.card-container h4{
    font-size: 14px;
    color:black;
}
.card-container img {
    width: auto;
    height: auto;
    /* max-width: 300px;
    max-height: 150px; */
}




.card-item{
    background-color: #849bca;
    width: 320px;
    height: 630px;
    border-radius: 20px;
    margin-top: 20px;
    
}

.link-movie {
    text-decoration: none;
}

.link-movie :hover {
    transform: scale(1.02);
}

.card-img{
    width:260px;
    height: 450px;
    margin-left: 30px;
    /* background-color: red; */
}

.card-img img{
    width: auto;
    height: auto;
    max-width: 260px;
    max-height: 480px;
}

.input-busqueda{
    border: 0;
    background-color: #eee;
    outline: none;
    
    border: 1px solid rgb(38, 41, 43);
}

.order-age{
    border: 0; 
}
 
@media (max-width: 480px){
   .navbar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content;
   } 

   .navbar > h1{
      margin-right: 10px;
   }

   .menu{
     /* padding-bottom: 100px; */
     padding:0;
     margin: 0;
     padding-left: 50px;
   }

   .subContainer{
     /* padding:0; */
     padding-left: 10px;
   }
}